BOT_TOKEN=""
TELEGRAM_API_ID=12345123
TELEGRAM_API_HASH=""
DOWNLOAD_DIRECTORY="./downloads,./movies" # You can add multiple directories with comma
ADMINS="ADMIN_ID" # Admins allowed for super commands, Multiple admins by comma
CHATS="CHAT_ID" # Chats to get notified, Multiple chats by comma